.grid-background {
  background-color: #323232;
  border-color: #323232;
  height: 95vh;
  width: 95vw;
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
  margin-top: 25px;
  overflow: scroll;
}

.button-add {
  background-color: #0098ff;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.button-add:hover {
  background-color: #0065a9;
  transform: scale(1.1);
}


#canvas {
  background-color: #323232;
  border-color: #323232;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
  position: relative;
  overflow: hidden;
  z-index: 0;

}

.canvas-item {
  height: 150px;
  background-color: #202020;
  
}

/* .canvas-item:hover {
  border: white 1px solid;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
} */

.box-outline {
  border-radius: 8px;
  padding: 10px;
}

#remove {
  display: none;
}

.box-outline:hover {
  border: white 1px solid;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;

  #remove {
    display: block;
  }
}

.pointer {
  cursor: pointer;
}

#remove {
  display: none;
}
