.grid-background {
  background-color: #323232;
  border-color: #323232;
  height: 77vh;
  width: 95vw;
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
}

#canvas {
  background-color: #323232;
  border-color: #323232;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#button-menu {
  background-color: #4e4e4e;
  height: 7vh;
  width: 27vw;
  z-index: 100;
}

.button-add {
  background-color: #0098ff;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-add:hover {
  background-color: #0065a9;
}

#button-arrow {
  border: #0098ff 2px solid;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

#button-arrow:hover {
  background-color: #0098ff;
}

.dropbtn {
  background-color: #0098ff;
  height: 5vh;
  width: 5vh;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 2px;
  display: none;
  position: absolute;
  background-color: #727272;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(228, 228, 228);
  border-radius: 5px;
  padding: 12px 8px 12px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0098ff;
  color: white;
}

.dropdown-content button svg {
  width: 5vh;
  height: 5vh;
  margin-right: 10px;
  fill: #0098ff;
  transition: fill 0.3s ease;
}

.dropdown-content a:hover div img {
  width: 2.3vh !important;
  height: 2.3vh !important;
  transition: width 0.3s ease, height 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0065a9;
}

.shape-group {
  position: absolute;
  user-select: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shape-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.shape {
  position: relative;
  cursor: grab;
  z-index: 2;
  border-radius: 5px;
}

.triangle {
  width: 0;
  height: 0;
  position: relative;
  cursor: grab;
  z-index: 2;
}

.circle {
  border-radius: 50%;
}

.next-color-indicator {
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  top: 4px;
  left: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  z-index: 10;
  display: none;
}

.shape:hover .next-color-indicator {
  display: block;
}

.delete-button {
  position: absolute;
  top: -14px; 
  right: -12px;
  background: #de4e4e;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 1; 
  padding: 0;
  transition: display 0.5s ease-in-out;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #666;
  z-index: 10;
  border-radius: 2px;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: display 0.5s ease-in-out;
}

.resize-handle.right {
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resize-handle.bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resize-handle.corner {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.shape-group:hover .delete-button {
  display: flex;
  transition: display 0.5s ease-in-out;
}

.shape-group:hover .resize-handle {
  display: flex;
}

.delete-button:hover {
  background: #a53a3a;
}
